@model WebForm.Models.Reseller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reseller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.displayname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.displayname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.resellerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
