@model WebForm.Models.orderList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>orderList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resellerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resellerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
