@model IEnumerable<WebForm.Models.CurrentGood>

@{
    ViewBag.Title = "Product list";
    
}


<head>
    <link href="@Url.Content("~/Content/Aternative.css")" rel="stylesheet" type="text/css" />
</head>

<main aria-labelledby="title">
    <p></p>
    <h3 id="title">@ViewBag.Title | <small class="smallsize">@ViewBag.Message</small></h3>    <p></p>
    <p><a class="" href="@Url.Action("Index", "Carts", new { resellerID = Session["resellerid"]})">Go to your cart&raquo;</a></p>

    <table class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.goodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    <input type="number" value=1 id="quantity_@item.goodID" name="quantity_@item.goodID" min="1" max="@item.quantity">
                </td>
                <td align="center">
                    @*<a class="btn btn-outline-cyan"
                           id="@item.goodID" href="@Url.Action("Add", "Carts", new { id = item.goodID, quantity = 1 })">
                            Add to cart
                        </a>*@
                    <button class="btn btn-outline-cyan" id="@item.goodID" href="" onclick="addToCart('@item.goodID', 1)">
                        Add to cart
                    </button>
                </td>

            </tr>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                var quantityInput = document.getElementById("quantity_@item.goodID");
                if (quantityInput.value === null) {
                    quantityInput.value = 1;
                }
                quantityInput.addEventListener("change", function() {
                    changeNumber("@item.goodID");
                    });
                });

            </script>

        }
    </table>

    <script>
        function changeNumber(goodID) {
            var x = "quantity_" + goodID + "";
            var productQuantity = document.getElementById("quantity_" + goodID + "").value;
            var addToCartButton = document.getElementById(goodID);

            var currentOnclick = addToCartButton.getAttribute("onclick");
            var updatedOC = currentOnclick.substring(0, currentOnclick.indexOf(goodID) + 6) + "," + productQuantity+")";
            //alert(updatedOC);
            addToCartButton.setAttribute("onclick", updatedOC);
        }



        // call on change event to update the button or a tag's' href which then change the view when clicked
        //function myFunction(goodID) {
        //    var x = "quantity_" + goodID + "";
        //    var productQuantity = document.getElementById("quantity_" + goodID + "").value;
        //    var addToCartButton = document.getElementById(goodID);

        //    var currentHref = addToCartButton.getAttribute("href");
        //    var updatedHref = currentHref.substring(0, currentHref.indexOf(goodID) + 5) + "?quantity=" + productQuantity;
        //    alert(updatedHref);
        //    addToCartButton.setAttribute("href", updatedHref);
        //}

        //call to not change the view and run in the background
        function checkAddToCart(result) {
            var notification = document.createElement("div");
            if (result.success != true) {
                notification.innerText = "Not enough goods for you";
                notification.style.backgroundColor = "#FA3E3E";
            }
            else {
                notification.innerText = "Added items to cart successfully";
                notification.style.backgroundColor = "#4CAF50";
            }
            notification.style.position = "fixed";
            notification.style.bottom = "10px";
            notification.style.right = "10px";
            notification.style.color = "white";
            notification.style.padding = "16px";
            notification.style.borderRadius = "5px";
            document.body.appendChild(notification);
            setTimeout(function () {
                notification.remove();
            }, 3000);
        }


        //call to not change the view and run in the background
        function addToCart(id, quantity) {
            var url = "@Url.Action("Add", "Carts", new { resellerID = Session["resellerid"], goodID = "", quantity = "" })";
            url = url + "&id=" + id + "&quantity=" + quantity;

            /*alert(url);*/
            //$.ajax({
            //    url: url,
            //    type: "POST",
            //    success: alert("Added items to cart successfully"),
            //    error: function(xhr, status, error) {
            //        console.log(xhr.responseText);
            //    }
            //});

            $.ajax({
                url: url,
                type: "POST",
                success: function (result) {
                    checkAddToCart(result);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        }

    </script>

</main>