@model IEnumerable<WebForm.Models.CurrentGood>

@{
    ViewBag.Title = "Product list";
}

<head>
    <link href="@Url.Content("~/Content/Aternative.css")" rel="stylesheet" type="text/css" />
</head>

<main aria-labelledby="title">
    <p></p>
    <h3 id="title">@ViewBag.Title | <small class="smallsize">@ViewBag.Message</small></h3>

    <p></p>
    <table class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.goodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.goodID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.goodID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.goodID })*@
                    <input type="number" id="quantity" name="quantity" min="1" max="@item.Quantity">
                </td>
                <td align="center">
                    <a href="@Url.Action("AddCartUrl", "Carts", new { id = item.goodID })">Add to cart</a>
                </td>
            </tr>
        }

    </table>
</main>